.searchbar{
  display: flex;
  padding: 25px 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: auto;
  position: sticky;
  top: 0;
}
